<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.system.mapper.CartMapper">

    <resultMap id="CartMap" type="com.example.system.entity.Cart">
        <id column="id" property="id"></id>
    </resultMap>


    <insert id="save" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO cart (user_id, phone_id)
        SELECT #{user_id},#{phone_id}
        from DUAL
        where not exists(select * from cart where user_id=#{user_id} and phone_id = #{phone_id});

    </insert>

    <select id="findListByUserId" resultMap="CartMap">
        select * from cart where userid=#{userid};
    </select>



</mapper>
