<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${phone.title} + 'Detail Page'" ></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>

</head>
<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="/web/index.html">Task</a>



            <div class="d-grid gap-2 d-md-flex justify-content-end">
                <a class="btn btn-primary" href="/web/index.html">Home</a>
            </div>
        </div>
    </nav>

    <div class="p-5 bg-secondary text-center">

        <img style="height: 50%; width: 25%" th:src="'../' + ${phone.image}"
             class="img-fluid">
    </div>

    <div class="container text-center">
        <h1 th:text="${phone.title}" class="mt-5 mb-2">Title</h1>

        <h5 th:text="'Price: ' + ${phone.price}" class="my-3">Price</h5>


        <div th:text="${phone.content}" class="fw-light font-monospace">Content</div>
    </div>


    <div class="container text-center my-5">
        <a class="btn btn-primary" th:href="@{'/cart/'+${phone.id}}" role="button">Add to cart</a>
    </div>






</body>
</html>