<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>

</head>
<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="/web/index.html">Task</a>



            <div class="d-grid gap-2 d-md-flex justify-content-end">
                <a class="btn btn-primary" href="/web/index.html">Home</a>
            </div>
        </div>
    </nav>

    <div class="shadow p-3 mb-3 bg-secondary" style="display:grid; height:45vh;">

        <div class="col-sm-6 p-3 position-absolute top-50 start-50 translate-middle text-center">
            <div class="shadow p-3 mb-3 bg-white rounded">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item mb-2">
                        <h2>Welcome <span th:text="${userInfo.username}">NA</span></h2>
                    </li>
                    <li class="list-group-item">
                        <div class="row g-3 d-flex">
                            <div class="col-auto ">
                                <p class="fw-bold">Email:</p>
                            </div>
                            <div class="col-auto">
                                <p th:text="${userInfo.email}">NA</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row g-3 d-flex">
                            <div class="col-auto ">
                                <p class="fw-bold">Phone:</p>
                            </div>
                            <div class="col-auto">
                                <p th:text="${userInfo.phone}">NA</p>
                            </div>
                        </div>
                    </li>
                    <br>
                </ul>


            </div>

        </div>

    </div>






</body>
</html>