<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>iPad Accessories List</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>

</head>
<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="/web/index.html">Task</a>



            <div class="d-grid gap-2 d-md-flex justify-content-end">
                <a class="btn btn-primary" href="/web/index.html">Home</a>
            </div>
        </div>
    </nav>

    <div class="container my-5">
        <div class="row row-cols-auto gx-5 gy-3">
            <div class="col" th:each="phone: ${phone}">
                <div class="shadow card rounded h-100" style="width:18rem; height:30rem;">
                    <img th:src="${phone.image}" class="card-img-top shadow rounded img-thumbnail artImage" th:alt="${phone.title}">
                    <div class="card-body mt-3">
                        <h5 class="card-title" th:text="${phone.title}">Title</h5>
                        <div>
                            Price: <p class="card-text" th:text="${phone.price}">Price</p>
                        </div>
                        <br>
                        <div>
                            <a th:href="@{/web/detail/{id}(id=${phone.id})}" class="btn btn-primary" role="button">View</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>






</body>
</html>